In [1]:
import pandas as pd

# Data

In [2]:
DIR = './data'
MASKING_VER = 'masked_02'

train = pd.read_csv(f'{DIR}/train_{MASKING_VER}.csv', index_col=0)

train.shape

(472972, 2)

In [3]:
train.head()

    level                                           full_log
id
0       0  <DATE> <TIME> localhost kibana: {"type":"error...
1       0  <DATE> <TIME> localhost logstash: [<TS>,<NUM>]...
2       0  <DATE> <TIME> localhost kibana: {"type":"error...
3       0  <DATE> <TIME> localhost kibana: {"type":"error...
4       1  type=SYSCALL msg=audit(<NUM>.<NUM>:<NUM>): arc...

## outlier

In [4]:
train['level'].value_counts()

0    334065
1    132517
3      4141
5      2219
2        12
4        10
6         8
Name: level, dtype: int64

In [5]:
train[train['level']==2]

        level                                           full_log
id
39057       2  The average number of logs between <NUM>:<NUM>...
87600       2  The average number of logs between <NUM>:<NUM>...
109510      2  The average number of logs between <NUM>:<NUM>...
262892      2  The average number of logs between <NUM>:<NUM>...
294072      2  The average number of logs between <NUM>:<NUM>...
294127      2  The average number of logs between <NUM>:<NUM>...
343011      2  The average number of logs between <NUM>:<NUM>...
345903      2  The average number of logs between <NUM>:<NUM>...
365348      2  <DATE> <TIME> localhost sudo:  apache : TTY=un...
376681      2  The average number of logs between <NUM>:<NUM>...
380583      2  The average number of logs between <NUM>:<NUM>...
400735      2  The average number of logs between <NUM>:<NUM>...

In [6]:
print(train.shape)

train.drop(index=365348, inplace=True)
train.shape

(472972, 2)

(472971, 2)

In [7]:
train[train['full_log']=='juniper']

        level full_log
id
5144        0  juniper
108472      0  juniper
170195      3  juniper
207811      0  juniper
470486      0  juniper

In [8]:
print(train.shape)

train.drop(index=170195, inplace=True)
train.shape

(472971, 2)

(472970, 2)

# Save

In [9]:
train.to_csv(f'{DIR}/train_{MASKING_VER}_drop.csv')